@using Newtonsoft.Json
@model KonsorcjumLekarzy.Models.DTOs.InitDTO

<script>
    var global_InitData = {};
    global_InitData.Doctors = @Html.Raw(Json.Encode(Model.DoctorDto));
    global_InitData.User = @Html.Raw(Json.Encode(Model.UserDto));
    global_InitData.Specialization = @Html.Raw(Json.Encode(Model.SpecializationDto));
    global_InitData.Patients = @Html.Raw(Json.Encode(Model.PatientDto));
    global_InitData.Visits = @Html.Raw(Json.Encode(Model.VisitDto));
    console.log("Global: " + global_InitData);
</script>     

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <content-top></content-top>
            <div ui-view autoscroll="true" autoscroll-body-top></div>
        </div>
    </div>

    <footer class="al-footer clearfix">
        <div class="al-footer-right">Inżynieria internetowa 2017</div>
    </footer>

    <back-top></back-top>
</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>