@model KonsorcjumLekarzy.Areas.Administration.Models.DoctorCreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Doctor create</h2>

@using (Html.BeginForm("Create","Docotrs",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Patient</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Doctor.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doctor.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Doctor.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doctor.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doctor.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Doctor.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doctor.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doctor.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Doctor.BirthDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
                @foreach (var item in Model.ApplicationUsers)
                {
                    <div>
                        @Html.RadioButtonFor(x => x.Doctor.UserId, item.Id)
                        <span> @item.UserName</span>
                    </div>
                }
                @Html.ValidationMessageFor(m => m.Doctor.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-sm-2 control-label">Specialization</label>
            <div class="col-sm-10">
                @foreach (var item in Model.Specializations)
                {
                    <div>
                        @Html.RadioButtonFor(x => x.Doctor.SpecializationId, item.SpecializationId)
                        <span> @item.SpecializationName</span>
                    </div>
                }
                @Html.ValidationMessageFor(m => m.Doctor.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
